In [2]:
import pandas as pd

In [3]:
!pip install kagglehub

Requirement already satisfied: kagglehub in c:\users\rajar\anaconda3\lib\site-packages (0.3.10)
Requirement already satisfied: packaging in c:\users\rajar\anaconda3\lib\site-packages (from kagglehub) (23.2)
Requirement already satisfied: pyyaml in c:\users\rajar\anaconda3\lib\site-packages (from kagglehub) (6.0.1)
Requirement already satisfied: requests in c:\users\rajar\anaconda3\lib\site-packages (from kagglehub) (2.32.2)
Requirement already satisfied: tqdm in c:\users\rajar\anaconda3\lib\site-packages (from kagglehub) (4.66.4)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\rajar\anaconda3\lib\site-packages (from requests->kagglehub) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\rajar\anaconda3\lib\site-packages (from requests->kagglehub) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\rajar\anaconda3\lib\site-packages (from requests->kagglehub) (2.2.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\rajar\anaconda3\lib\site-packages (from requests->kagglehub) (2024.7.4)
Requirement already satisfied: colorama in c:\users\rajar\anaconda3\lib\site-packages (from tqdm->kagglehub) (0.4.6)

In [4]:
import kagglehub

In [5]:
path = kagglehub.dataset_download("bhadaneeraj/cardio-vascular-disease-detection")

Warning: Looks like you're using an outdated `kagglehub` version (installed: 0.3.10), please consider upgrading to the latest version (0.3.11).

In [6]:
print("Path is "+path)

Path is C:\Users\rajar\.cache\kagglehub\datasets\bhadaneeraj\cardio-vascular-disease-detection\versions\1

In [7]:
df=pd.read_csv("cardio_train.csv",delimiter=';')

In [8]:
df.head()

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,988,22469,1,155,69.0,130,80,2,2,0,0,1,0
1,989,14648,1,163,71.0,110,70,1,1,0,0,1,1
2,990,21901,1,165,70.0,120,80,1,1,0,0,1,0
3,991,14549,2,165,85.0,120,80,1,1,1,1,1,0
4,992,23393,1,155,62.0,120,80,1,1,0,0,1,0

In [9]:
#age is in days so we convert in into years 
df['age']=df['age']/365;

## Removing outliers
We can use two techniques to remove outliers 
- Inter Quartile Range (IQR)
- Percentile method (considering data points between 2.5% to 97.5%)

### 1. IQR

In [12]:
def iqr_range(df, label):
    Q1, Q3 = df[label].quantile([0.25,0.75])
    IQR = Q3-Q1
    lower = Q1 - 1.5*IQR
    upper = Q3 + 1.5*IQR
    return lower, upper

### Acceptable Range of different features using IQR

In [14]:
min_weight, max_weight = iqr_range(df,"weight")
min_height, max_height = iqr_range(df,"height")
min_ap_hi, max_ap_hi = iqr_range(df,"ap_hi")
min_ap_lo, max_ap_lo = iqr_range(df,"ap_lo")

df_cleaned = df[df['weight'].between(min_weight, max_weight)&df['height'].between(min_height, max_height)&df['ap_hi'].between(min_ap_hi, max_ap_hi)&df['ap_lo'].between(min_ap_lo, max_ap_lo) ]

In [15]:
df_cleaned.describe()
# Previously we have 70,000 data points which now reduced to 61,884 data points beacuse of removeal of outliers

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
count,61884.000000,61884.000000,61884.000000,61884.000000,61884.000000,61884.000000,61884.000000,61884.000000,61884.000000,61884.000000,61884.000000,61884.000000,61884.000000
mean,50437.813312,53.406312,1.348458,164.407391,73.177365,126.415907,81.698452,1.357572,1.220542,0.086274,0.052275,0.804570,0.493763
std,28578.590101,6.735683,0.476486,7.529037,12.264403,14.289828,7.672303,0.675170,0.567503,0.280771,0.222583,0.396535,0.499965
min,988.000000,29.750685,1.000000,143.000000,40.000000,90.000000,65.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,25628.750000,48.558219,1.000000,159.000000,65.000000,120.000000,80.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000
50%,50477.500000,54.021918,1.000000,165.000000,72.000000,120.000000,80.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000
75%,75106.500000,58.465753,2.000000,170.000000,81.000000,140.000000,90.000000,1.000000,1.000000,0.000000,0.000000,1.000000,1.000000
max,99999.000000,64.967123,2.000000,186.000000,107.000000,170.000000,105.000000,3.000000,3.000000,1.000000,1.000000,1.000000,1.000000

In [ ]:
df_cleaned.to_csv("cleaned